body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    backdrop-filter: blur(10px); /* Add a blurry effect to the background */
    
}

div{
   border: 0px solid black;

}

#result{
    margin: 20px;
}


#clear-delete{
    margin: 20px;
}

#button-container{
    background-color: #09203f;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-template-columns: 30px 30px 30px 30px;
    margin: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09203f;
    /* height: 100vh; Adjust as needed */
    box-shadow:rgb(59, 63, 99);
    transition: background-color 0.7s ease;
    color: #ffffff;
}

#clear-delete{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}



.buttons:hover {
    background-color: #80b0cf;
    color: rgb(21, 103, 150);
  }

.buttons::before {
    background: radial-gradient(circle, transparent 40%, rgb(14, 21, 85) 80%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .bright-hover:hover::before {
    opacity: 1;
  }


.cldl{
    background-color: #19283a;
    color: rgb(255, 255, 255);
    transition: background-color 0.7s ease;
}




.cldl:hover{
    color: rgb(35, 100, 138);
    background-color: #a5cbe9;
}


#gameDiv{
    background-image: linear-gradient(to top, #627794 0%, rgb(42, 47, 53) 100%);
    border: 1px solid #ffffff;
    border-radius: 10px;
}

#result{
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    color:#f9fcff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #476691, rgb(42, 47, 53));
    max-width: 73%;
}

