body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    backdrop-filter: blur(10px); /* Add a blurry effect to the background */
    
}

div{
    border: 1px solid black;

}

#result{
    margin: 20px;
}


#clear-delete{
    margin: 20px;
}

#button-container{
    background-color: #09203f;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-template-columns: 30px 30px 30px 30px;
    margin: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09203f;
    /* height: 100vh; Adjust as needed */
    box-shadow:rgb(59, 63, 99);
}

#clear-delete{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}



.buttons:hover {
    background-color: #15527a;
  }

.buttons::before {
    background: radial-gradient(circle, transparent 40%, rgb(14, 21, 85) 80%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .bright-hover:hover::before {
    opacity: 1;
  }